<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/register" method="post">
            <div>
                <input type="text" name="name" id="name" required="required" placeholder="Name">
            </div>
            <div>
                <input type="text" name="lastName" id="lastName" required="required" placeholder="lastName">
            </div>
            <div>
                <input type="text" name="phone" id="phone" required="required" placeholder="Phone">
            </div>
            <div>
                <input type="email" name="email" id="email" required="required" placeholder="Email">
            </div>
            <div>
                <input type="password" name="password" id="password" required="required" placeholder="password">
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
    </body>
</html>